$poppins: 'Poppins', sans-serif;
$raleway: 'Raleway', sans-serif;
$helvetica: 'Helvetica Neue LT Std', sans-serif;
$gotham: 'Gotham', sans-serif;

$light: 300;
$regular: 400;
$medium: 500;
$semibold: 600;
$bold: 700;

$hover-primary: #ED7620;